* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Song List */

.album {
  display: inline-block;
  padding-right: 1em;
}

.playlist {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.scroll-container {
  background-color: #ecdaff;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 20px;
}

.scroll-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.track-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.track-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.track-details {
  display: flex;
  flex-direction: column;
}

.track-name {
  font-size: 14px;
  font-weight: regular;
  color: #6c6d71;
}

.album-name {
  font-size: 12px;
  color: #989898;
}

.track-item.selected {
  background-color: #efefef;
}

.playlist-title {
  align-self: flex-start;
  font-size: 24px;
  color: #6c6d71;
  margin-top: 40px;
  margin-left: 40px;
}

.floating-menu-bar {
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 63px;
}

.floating-menu-bar-item {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  opacity: 0.6;
}

.floating-menu-bar-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* layout */
.background {
  background-color: #ffc8ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  box-sizing: border-box;
}

.window {
  background-color: #ffffff;
  width: 1200px;
  height: 700px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.playlist-container {
  background-color: #ecdaff;
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* content music player */

.menu-icon {
  width: 60px;
  height: 60px;
  opacity: 0.8;
  margin-bottom: 0px;
  margin-right: 650px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.album-cover {
  border-radius: 40px;
  width: 330px;
  margin-bottom: 10px;
}

.song-name {
  font-size: 30px;
  margin: 5px 0;
  color: #6c6d71;
  margin-bottom: 10px;
}

.artist-name {
  font-size: 20px;
  margin: 0;
  color: #6c6d71;
}

.time-bar {
  width: 600px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.time-bar img {
  width: 100%;
}

.play-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.play-bar-item {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  opacity: 0.6;
}

.play-bar-item-button {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  opacity: 0.6;
}

.play-bar-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.play-bar-item-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
