/* Header */
.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #ff51df;
  border-radius: 25px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.list-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-nav li {
  margin: 0 20px;
}

.flex-box {
  background-color: #ff51df;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  width: 100px;
  text-align: center;
}

.image-small {
  height: 60px;
}

/* Body */
.mainbox {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  border: 2px solid #ff51df;
  border-radius: 25px;
  margin-top: 20px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.image-big img {
  height: 356px;
  width: 368px;
  margin-right: 20px;
  border-radius: 25px;
}

.text-content {
  display: flex;
  flex-direction: column;
  color: #ff51df;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.text-content h2 {
  color: #ff51df;
  margin-bottom: 10px;
}

.text-content h4 {
  margin-bottom: 20px;
  color: #ff51df;
}

.text-content h6 {
  margin-top: 0;
  line-height: 1.5;
  color: #ff51df;
}

.text {
  color: #ff51df;
  padding: 20px 30px;
  border-radius: 15px;
}

.list-text {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer */
.footer {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border: 2px solid #ff51df;
  border-radius: 25px;
  margin-top: 20px;
}

.list-footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.list-footer li {
  margin-bottom: 20px;
}

.list-footer li:last-child {
  margin-bottom: 0;
}

.flex-box-footer {
  background-color: #ff51df;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
}
